img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #cec0b5;
  color: #3f1e04;
}

.underline {
  background-color: #3f1e04;
  width: 50px;
  height: 5px;
}

button {
  background-color: #3f1e04;
  color: #cec0b5;
}
